
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



.work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared styles */
.display-flex{
    display: flex;
}
.navbar{
    justify-content: space-between;
    align-items: center;
}
.brand{
    width: bold;
    font-size: 2.8rem;
    
}
.nav-iteam{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
}
/* dark 02 */
.text-gray{
    color: #424242;
}
.bg-light{
    background-color:rgba(255, 144, 14, 0.1);
}
/* dark 03 */
.text-light-gray{
    color: #727272;

}
.section-title{
    font-size: 2.8rem;
    font-weight:mixed;
}
.navbar ,.banner{
    max-width: 1440px;
    margin: 0 auto;

}
.banner-contant{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}
.banner-writting{
    font-size: 1rem;
    color: #727272;
}
.banner-img{
    max-width: 100%;
}
.btn{
    width: 180px;
height: 64px;
border-radius:0.5rem ;
background-color: rgba(255, 144, 14, 1);
color: rgba(255, 255, 255, 1);
}

.team-img-container{
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    gap: 24px;
    padding-top: 85px;
   
}

.features-title{
    border-left: 5px solid #FF900E;
    font-size: 80px;
}

.features{
    gap: 100px;
}

.feature-card{
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 30px #0000001d;
    margin-bottom: 20px;

}

.feature-card .feature-heading{
    font-weight:600;
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
}


.our-features {
    /* align-items এর বদলে text-align ব্যবহার করে দেখুন */
    /* text-align: left; বা center আপনার প্রয়োজন অনুযায়ী */
    max-width: 530px;
    margin-left: 73px; /* এটি প্রয়োজন না হলে বাদ দিতে পারেন */
    
    /* যদি ফ্লেক্সবক্স দিয়ে মাঝখানে আনতে চান তবে নিচের ২ লাইন যোগ করুন */
    display: flex;
    flex-direction: column;
    justify-content: center;
}




#Quick-list{
    font-size: 500;
}

.of-our{
    color:#131313;
}

.Features{
    color: #FF900E;
}

.feature-discription{
    color: #727272;
    font-size: 1rem;
    padding-bottom: 2rem;
}

.facts-container{
    display: flex;
    justify-content:center;
    gap:160px;
}

.fact{
    border: 1px solid #FF900E;
    height: 240px;
    width: 240px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}
.fact-name{
    font-size: 1.2rem;
    font-weight: 600;
    color: #727272;
    margin-top: 10px;
}

.fact-description{
    max-width: 540px;
}
.sponsor-info{
    max-width: 540px;
    font-size: 16px;
    margin: 50px auto;
    text-align: center;
}
.sponsor-companis{
   display: grid;
   grid-template-columns: repeat(5, 1fr);

}
/* kono coloring logo ba jekono kichu k gray korte chaile nicher filter ta use korle hobe */
.sponsor-companis img{
    filter: grayscale(100%);
}

@media screen and (max-width:576px) {
    .navbar ,
    .nav-links ,
    .teams{
        flex-direction: column;
    }

    .team-img-container, .facts-container 
    {
        
        grid-template-columns:repeat 1fr ;
        
    }
     .facts-container{
        justify-items: center;
        gap: 24px;
       /* flex-direction: column; */
    }  
    
    .our-features{
        margin-left: 1rem;
    }
}

/* medium size device */
@media screen and (min-width:576px) and (max-width:992px) {

     .teams{
        flex-direction: column;
    }
    .our-features{
        margin-left: 1.2rem;
    }
    .sponsor-companis{
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
    }
}